body {
    margin: 0;
    padding: 0;
    background-color: #47A;
    font-family:"Volkorn", "Bookman Old Style", Georgia, serif;
}

.washed  {
    color: #999;
    font-style: italic;
}

.button {
    font-family:"Volkorn", "Bookman Old Style", Georgia, serif;
    font-size: 0.9em;
    line-height:1.4em;
	  vertical-align: baseline;

	  display: inline-block;
	  zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	  *display: inline;

	  margin: 1px 1px;
	  outline: none;
	  cursor: pointer;
	  text-align: center;
	  text-decoration: none;
	  padding: .25em 20px .25em;

	  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	  box-shadow: 0 1px 2px rgba(0,0,0,.2);

	  -webkit-border-radius: 2em;
	  -moz-border-radius: 2em;
	  border-radius: 2em;
}
  .button:hover {
	  text-decoration: none;
  }
  .button:active {
	  position: relative;
	  top: 1px;
  }

.gray {
	  color: #e9e9e9;
	  border: solid 1px #555;
	  background: #6e6e6e;
	  background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
	  background: -moz-linear-gradient(top,  #888,  #575757);
	  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}
  .gray:hover {
	  background: #616161;
	  background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
	  background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
	  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
  }
  .gray:active {
	  color: #afafaf;
	  background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
	  background: -moz-linear-gradient(top,  #575757,  #888);
	  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
  }

.container {
    padding: 0px;
    margin: 0 auto 0 auto;
    font-size: 1.3em;
    line-height: 1.5;
}

#central {
    width:570px;
    margin: 0.5em auto 0 auto;
    background-color: #FFF;
    -moz-box-shadow: 0 0 3px 3px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 2px 3px 2px rgba(0,0,0,0.4);
    box-shadow: 0 0 3px 3px rgba(0,0,0,0.4);

    -moz-border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}
    #central #theend {
        text-align:center;
        padding: 0.75em 0 0.75em 0;
    }

#toolbar {
    padding: 0.75em 10px 0.75em 10px;
    border: 1px solid #B1B1B1;
    -moz-border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.1, #BDBDBD),
        color-stop(0.4, #CCC),
        color-stop(0.9, #CFCFCF)
    );
    background: -moz-linear-gradient(
        center bottom,
        #BDBDBD 10%,
        #CCC 40%,
        #CFCFCF 90%
    );
}
    #toolbar input#search {
        font-family:"Volkorn", "Bookman Old Style", Georgia, serif;
        font-size: 1em;
        line-height: 1.7em;

        float: left;
        width: 395px;

        margin: 0 0 0 5px;
        padding: 0 20px 0 20px;
        border-color: #AAA;

	      -webkit-border-radius: 2em;
	      -moz-border-radius: 2em;
	      border-radius: 2em;

	      -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	      -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	      box-shadow: inner 0 1px 2px rgba(0,0,0,.2);
    }
    #toolbar #new {
        font-style: italic;
        margin: 0 15px 0 15px;
    }
    #toobar #new-entry:hover {
        cursor: pointer;
    }

#entries {
    padding: 0 20px 0 20px;
}

.entry {
    position: relative;
    margin: 0;
    padding: 0;
}
    .entry textarea {
        font-family:"Volkorn", "Bookman Old Style", Georgia, serif;
        font-size:1em;

        width: 530px;
        padding: 1.65em 0 0 0;
        border: none;
        overflow-y: hidden;
        /* Webkit specific text field resize*/
        resize: none;
    }   
    .entry textarea:focus {
        outline: none;
        border: none;
    }
    .entry .separator {
        border-top: 1px solid #CCC;
    }
    .entry .entry-toolbar {
        position: absolute;
        bottom: 0.75em;
        right: 10px;
    }
        .entry .entry-toolbar .delete-icon {
            float: left;
            width: 21px;
            height: 21px;
            margin-right: 10px;
            /* This is to fix an error in the icon where it doesn't line up with the favorite icon */
            margin-top: 1px;
            background-image: url(media/delete-icon.png);
        }
            .entry .entry-toolbar .delete-icon:hover {
                cursor: pointer;
            }
        .entry .entry-toolbar .favorite-icon {
            float: left;
            width: 21px;
            height: 21px;
            background-image: url(media/favorite-icon.png);
        }
            .entry .entry-toolbar .favorite-icon.selected {
                background-image: url(media/favorite-icon-selected.png);
            }
            .entry .entry-toolbar .favorite-icon:hover {
                cursor: pointer;
            }
